a{
	display: block; 
	position: fixed; 
	top: 0;
	bottom: 0; 
	left: 0; 
	right: 0;  
	z-index: 100; 
}
html{
	height: 100%;
}
body{
	font-family: 'Fjalla One', sans-serif;
	height: 100%;
	font-size: 18px;
	margin: 0;
	background-image: url(images/quote1.jpg);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
}
div{
	
}
.quote{
	width: 400px;
	position: absolute;
	margin-left: 1em;
	margin-bottom: 2.5em;
	bottom: 0;
	color: white;
	max-width: 85%;
	text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}
.quote1{
	font-size: 1.0em;
}
.attribution{
	margin-top: .5em;
	font-size: 1.1em;
	text-align: left;
	font-style: italic;
}

@media(min-width: 400px){
	.quote1{
		font-size: 1.2em;
	}
	
}

@media (min-width: 600px){
	.quote{
		width: 300px;
	}
	.quote1{
		font-size: 1.5em;
	}
}
@media(max-width: 600px){
	.quote{
		width: 300px;
	}
}

/*
@media (min-width: 600px) {

	body {
		padding: 0em;
		}
	body>div {
		background-image: url(images/quote1.jpg);
		background-position: right center;
		}
	.quote {
		font-family: Arial;
		position: absolute;
		right: 1em;
		bottom: 70%;
		color: white;
		max-width: 85%;
		right: 35em;
		bottom: 5%;
		max-width: 60%;
		}

	}

@media (min-width: 1200px) {

	.quote {
		max-width: 25%;
		}
	.message {
		font-size: 2.5em;
		}

	}
*/
